---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PostCard from "@/components/PostCard.astro";
import SubscriptionBox from "@/components/SubscriptionBox.astro";
import { getPostsMetadata } from "@/lib/posts";

const posts = await getPostsMetadata();
---
<BaseLayout title="posts" description="kualta's blog posts">
  <div class="max-w-xl w-full grow flex flex-col mb-10">
    <div class="flex flex-col gap-4 p-4">
      {posts.map((post) => <PostCard {...post} />)}
    </div>
    <div class="mt-auto pt-8 pb-0">
      <SubscriptionBox />
    </div>
  </div>
</BaseLayout>
