---
import { TbQuestionMark } from "react-icons/tb";
const path = Astro.url.pathname;
const hide = path === "/about";
---
{
  !hide && (
    <div class="z-10 hidden md:flex absolute bottom-0 left-0 text-2xl p-8">
      <div class="w-8 h-8 flex items-center justify-center rounded-xl active:text-secondary-text">
        <a class="active:text-secondary-text" href="/about" aria-label="About">
          <TbQuestionMark size={26} />
        </a>
      </div>
    </div>
  )
}
