@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark: #3b3b3b;
  --secondary-dark: #222222;
  --bg-dark: #181818;
  --text-dark: #e7e4e3;

  --primary: #ffe7f1;
  --secondary: #ffffff;
  --bg: #f8f8f8;
  --text: #191817;

  --secondary-text: #9c9c9c;
}

::selection {
  background: var(--primary) 
}

.dark ::selection {
  background: var(--primary-dark) 
}
 
.dark .active-bg {
    background: linear-gradient(var(--secondary-dark), var(--secondary-dark)) padding-box, 
                linear-gradient(45deg, #ff33ccee, #cc77ffee) border-box;
    border: 1px solid transparent;
  
}

.active-bg {
  background: linear-gradient(var(--secondary), var(--secondary)) padding-box, 
              linear-gradient(45deg, #ff33ccee, #cc77ffee) border-box;
  border: 1px solid transparent;
}

.noise {
	background-image: url(../public/noise.png);
  background-repeat: repeat;
  filter: blur(1px);
  width: 100%;
  height: 100%;
  margin:auto;
	position: absolute;
	top: 0;
  z-index: -10;
}

.dark .noise {
  filter: invert(0.6) blur(1px);
}